@import "../themes/theme-default";

.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;

  height: 5vh;

  &__header {
    color: $primary-text-color;
    font-size: 18px;
  }

  &__menu {
    &-container {
      width: 20vw;
    }

    &-list {
      display: flex;
      align-items: baseline;
      justify-content: space-between;
    }

    &-item {
      padding: 0.5em 0;

      font-size: 15px;

      border-bottom: 2px solid rgba($color: $accent-color, $alpha: 0);
      transition: border-bottom 0.2s ease;

      &:hover {
        cursor: pointer;
        border-bottom: 2px solid rgba($color: $accent-color, $alpha: 1);
      }
    }
  }
}
